.CurrentWeather {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.CurrentWeather_body .weather-fetch-failed {
	width: 100%;
	text-align: center;
	font-size: 2em;
	height: 50px;
	margin-top: 5px;
	min-height: 50px;
}


.CurrentWeather_body > .weatherIcon {
	position: relative;
	top: -15px;
	width: 100%;
	text-align: center;
}

.CurrentWeather_body > .location {
	position: relative;
	top: -20px;
	font-style: italic;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	overflow-x: hidden;
	white-space: nowrap;
}

.CurrentWeather_body > .temperature {
	position: relative;
	top: -20px;
	font-weight: bold;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
}

.CurrentWeather_body {
	display: flex;
    flex-direction: column;
    text-align: center;
}
